/* common */
@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ONE-Mobile-Title';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--black : #333;
	--gray: #878d91;
	--lightGray: #e1e4e6;
	--btnGray: #f2f3f3;
	--border: 1px solid #ddd;
	--bg: #f8fafb;
	--errorColor: #ff8e89;
	--activeColor: #4c80f1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'S-CoreDream-3Light';
	color: var(--black);
	background-color: var(--bg);
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'ONE-Mobile-Title';
	font-weight: normal;
	letter-spacing: .1rem;
}

input, textarea, select, button {
	font-size: 14px;
	line-height: 1;
	border: var(--border);
	border-radius: 4px;
	color: var(--black);
	padding: 8px;
}
input::placeholder, textarea::placeholder, select::placeholder {
	color: var(--gray);
}
input:focus, textarea:focus, select:focus {
	outline: none;
	border: 1px solid #87b1f3;
	box-shadow: 0 0 0 1px #87b1f3;
}
.btnPrimary {
	color: var(--black);
	border: var(--border);
	background-color: var(--btnGray);
	box-shadow: inset 0 1px 0 rgb(255 255 255 / 70%), 0 1px 1px rgb(0 0 0 / 7%);
	padding: 10px 24px;
	cursor: pointer;
}
.btnPrimary:hover {
	color: var(--black);
	border: var(--border);
	background-color: var(--lightGray);
	box-shadow: inset 0 1px 0 rgb(255 255 255 / 40%), 0 1px 1px rgb(0 0 0 / 7%);
}
.btnPrimary:active {
	color: var(--black);
	border: var(--border);
	background-color: var(--lightGray);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 7%);
}
label {
	color: var(--gray)
}